html, body {
    color: #232425;
    background-color: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    padding: 7px 10px 10px;
    font-weight: 300;
}

.x-title {
    align-self: center;
    font-weight: 700;
    margin-bottom: 15px;
}

.x-edt {
    display: flex;
    position: relative;
    flex: 1;
    width: 100%;

    > div.x-horaire {
        font-size: 10px;
        border-right: 0.5px solid gray;
        min-width: 40px;

        > div:first-child {height: 21px;}

        > div:not(& > div:first-child, & > div:last-child) {
            position: relative;
            
            > span {
                position: absolute;
                top: -8px;
                right: 3px;
            }
        }

        > div:last-child {
            position: relative;
            
            > span {
                position: absolute;
                top: -8px;
                right: 3px;
            }
        }
    }

    > div.x-jour {
        position: relative;
        border-right: 0.5px solid gray;

        > div:first-child {
            border-bottom: 0.5px solid gray;
            height: 21px;
            font-size: 12px;
            font-weight: 500;
            text-align: center;
        }

        > div:not(& > div:first-child, & > div.x-creneau) {
            position: relative;
            border-bottom: 0.5px solid gray;
            
            > div.x-segment {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                border-bottom: 0.5px dashed gray;
            }
        }
    }
}

.x-creneau {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    font-size: 11px;
    background-color: #e8edff;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;

    > div:nth-child(1) {
        text-transform: uppercase;
        margin-bottom: 2px;
        font-weight: 600;
    }
    > div:nth-child(2) {
        margin-bottom: 2px;
    }
    > div:nth-child(3) {
        font-style: italic;
    }
}


@media print {
    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        color-adjust: exact !important;
    }

    body, html {
        background-color: #fff!important;
        color: #232425!important;
    }

    body {
        padding: 0 0 15px 0!important;
    }
}